@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #01172B;
  --color-primaryGray: #01172BDE;
  --color-secondary: #01172BA6;
  --color-placeholder: #01172B99;
  --color-information: #01172B73;
}