@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #01172B;
  --color-primaryGray: #01172BDE;
  --color-secondary: #01172BA6;
  --color-placeholder: #01172B99;
  --color-information: #01172B73;
}

/* Global Input Styles */
@layer components {
  .form-input-base {
    @apply flex flex-row items-center px-4 py-2 gap-2 w-[616px] h-14 rounded-2xl outline-none text-xl leading-8 placeholder:text-xl placeholder:leading-8 focus:text-[rgba(1,23,43,0.8)] focus:border-gray-800;
  }
  
  .form-input-normal {
    @apply bg-white border-2 border-[rgba(1,23,43,0.03)] text-gray-800 placeholder:text-[rgba(1,23,43,0.35)];
  }
  
  .form-input-error {
    @apply bg-white border-2 border-[#F73232] text-[#F73232];
  }
  
  .form-input {
    @apply form-input-base form-input-normal;
  }
  
  .form-input.form-input--error {
    @apply form-input-error;
  }
}